body{
    background-color: seashbell;
}

h1 {
    background-color: rgb(255, 118, 191);
    padding: 20px 0px;
    text-align: center; 
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 700px;
}

.img_credits {
    text-align: center;
}

a {
    text-decoration: none;
    background-color: burlywood;
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
}

.divider {
    background-color: rgb(255, 118, 191);
    height: 3px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}